@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
$font-1:'Playfair Display', serif;
$font-2: "Original Surfer", cursive;
$clr-1: #fff;
$clr-2: #000;
