* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "sec1" "hero";
  background: #fff;
}

#sec3 {
  width: 100%;
  height: 100vh;
  background: pink;
}

#sec1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sec1;
  margin: 0 auto;
  width: 80%;
  height: 50vh;
  background-color: #fff;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10vh;
}

#sec1 .abc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000;
  color: #fff;
}

#sec1 .xyz {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[50];
      grid-template-columns: repeat(50, auto);
  grid-auto-rows: auto;
  gap: 0px;
  background: #fff;
}

#sec1 .xyz .box {
  text-align: center;
  background-color: #000;
  color: transparent;
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
}

#container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 2.1fr 2.3fr 2.1fr;
      grid-template-columns: 2.1fr 2.3fr 2.1fr;
      grid-template-areas: "a b c";
  gap: 20px;
  overflow: hidden;
}

#container #left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

#container #right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

#container .img-container {
  background: #000;
  border-radius: 10%;
}

#container #left,
#container #right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.5fr 0.75fr 0.25fr 2fr 0.25fr 0.75fr 0.5fr;
      grid-template-rows: 0.5fr 0.75fr 0.25fr 2fr 0.25fr 0.75fr 0.5fr;
  gap: 20px;
}

#container #left #img-1,
#container #right #img-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

#container #left .left,
#container #right .left {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img-2" "img-3";
  row-gap: 10px;
}

#container #left .left #img-2,
#container #right .left #img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-2;
}

#container #left .left #img-3,
#container #right .left #img-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-3;
}

#container #left .right,
#container #right .right {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img-4" "img-5";
  row-gap: 10px;
}

#container #left .right #img-4,
#container #right .right #img-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-4;
}

#container #left .right #img-5,
#container #right .right #img-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-5;
}

#container #left #img-6,
#container #right #img-6 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

#container #center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.15fr 0.5fr 0.5fr 0.15fr;
      grid-template-columns: 0.15fr 0.5fr 0.5fr 0.15fr;
}

#container #center #psc {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  grid-row: 1;
  background: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 1fr 0.5fr;
      grid-template-rows: 0.5fr 1fr 0.5fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-image: url("../../assets/hero-phone-frame-v2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#container #center #psc #b1 {
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: lightblue;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container #center #psc #b2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2/2;
  background: lightcoral;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container #center #ps1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  grid-row: 1;
  background-image: url("../../assets/hero-phone-frame-v2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#container #center #ps2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  grid-row: 1;
  background-image: url("../../assets/hero-phone-frame-v2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.center::before {
  content: "";
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  z-index: -1;
  -ms-grid-row: 1;
  grid-row: 1;
  background: transparent;
}

@media (max-width: 580px) {
  #container {
    gap: 3px !important;
    -ms-grid-columns: 1.5fr 4fr 1.5fr !important;
        grid-template-columns: 1.5fr 4fr 1.5fr !important;
  }
  #container #img-1,
  #container #img-6 {
    display: none;
  }
  #container .left {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 3 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
    grid-row-end: 5 !important;
    -ms-grid-columns: 0.1fr 0.8fr 0.1fr;
        grid-template-columns: 0.1fr 0.8fr 0.1fr;
  }
  #container .left #img-2 {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 3 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 1 !important;
  }
  #container .left #img-3 {
    -ms-grid-column: 2 !important;
        grid-column-start: 2 !important;
    grid-column-end: 4 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
    grid-row-end: 2 !important;
    background-color: pink !important;
  }
  #container .right {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 3 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
    grid-row-end: 5 !important;
    -ms-grid-columns: 0.1fr 0.8fr 0.1fr;
        grid-template-columns: 0.1fr 0.8fr 0.1fr;
  }
  #container .right #img-4 {
    -ms-grid-column: 2 !important;
        grid-column-start: 2 !important;
    grid-column-end: 4 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 1 !important;
  }
  #container .right #img-5 {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 3 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
    grid-row-end: 2 !important;
    background-color: pink !important;
  }
}
/*# sourceMappingURL=style.css.map */