@import ".././sass/default.scss";
@import ".././sass/variables.scss";
#project {
  transform: translateZ(50vw);
  transform: translateY(-40vh);
}
.Modal {
  @include center;
  min-width: 50vw;
  min-height: 30vh;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: grid;
  grid-template-columns: auto 5vh;
  grid-template-rows: auto 10vh;
  .project {
    grid-row: 1;
    grid-column: 1;
    @include grid-center;
    display: grid;
    grid-template-rows: 10vh auto auto;
    .sec0 {
      grid-area: 1;
      text-align: center;
    }
    .sec1 {
      grid-row: 2;
      @include grid-center;
      margin-bottom: 10px;
      h1 {
        padding: 10px;
      }
      .sec {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.35);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.18);

        input[type="file"] {
          display: none;
        }
        button {
          color: #fff;
          position: absolute;
          background: #000;
          width: 100%;
          height: 30%;
          @include flex-center;
          opacity: 1;
          font-size: 2rem;
          cursor: pointer;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 90%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
    .sec2 {
      grid-row: 3;
      @include grid-center;
      gap: 10px;
      input,
      textarea {
        width: 100%;
        padding: 10px;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 0.45);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        cursor: pointer;
      }
    }
  }
  .skill {
    grid-row: 1;
    grid-column: 1;
    @include grid-center;
    .sec1 {
      text-align: center;
      input,
      select {
        width: 100%;
        padding: 10px;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 0.45);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        cursor: pointer;
      }
    }
    .sec2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input[type="text"] {
        width: 100%;
        padding: 10px;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 0.45);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        // background: rgba(255, 255, 255, 0.45);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        // color: red;
        cursor: pointer;
      }
    }
  }
  .abtn {
    grid-row: 2;
    grid-column: 1;
    @include grid-center;
    button {
      padding: 5px;
      background: rgba(255, 255, 255, 0.45);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      cursor: pointer;
    }
  }
  .cbtn {
    grid-row: 1;
    grid-column: 2;
    button {
      padding: 7px;
      color: #000;
      float: right;
      background: rgba(255, 255, 255, 0.45);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      cursor: pointer;
    }
  }
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Contm {
  color: red;
}
::-webkit-scrollbar {
  width: 1vw;
  &-track {
    background: $clr-2;
    // box-shadow: $dis;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  &-thumb {
    background: $clr-1;
    // box-shadow: $dos;
    border-radius: 20px;
    border: 1.5px solid $clr-2;
    // border-bottom: 1.5px solid #00f3ff;
    // border-left: 1.5px solid #00f3ff;
  }
  &-thumb:hover {
    background: $clr;
  }
}
#imgup {
  input[type="file"] {
    display: none;
  }
  button {
    position: relative;
    bottom: 0;
  }
}
label,
#upload {
  color: #fff;
  position: absolute;
  background: #000;
  width: 100%;
  height: 30%;
  @include flex-center;
  opacity: 0.7;
  font-size: 2rem;
  cursor: pointer;
}
label {
  bottom: 0;
}
#upload {
  opacity: 0.3;
  i {
    opacity: 0.3;
  }
}
#btn {
  padding: 5px;
  background: $dbg;
  color: #fff;
  box-shadow: $dis;
  border-radius: 10px;
  // border-bottom: 1.5px solid #00f3ff;
  // border-left: 1.5px solid #00f3ff;
  cursor: pointer;
}
#btn:hover {
  color: $clr-1;
  box-shadow: $dos;
  // border-top: 1.5px solid #00f3ff;
  // border-right: 1.5px solid #00f3ff;
  border-bottom: none;
  border-left: none;
}
#input-field {
  color: $clr-1;
  background: $ndbg;
  outline: none;
  // box-shadow: $dos;
  // border-bottom: 1.5px solid #00f3ff;
  text-align: center;
  font-size: 0.8rem;
  padding: 5px;
}
#input-fieldD {
  color: $clr-1;
  width: 70%;
  background: $dbg;
  outline: none;
  box-shadow: $dos;
  // border-bottom: 1.5px solid #00f3ff;
  text-align: center;
}
#port-main {
  background: linear-gradient(120deg, $clr-1 50%, $clr-2 50%);
  width: 100%;
  height: 100vh;
  perspective: 1000px;
}
#port-con {
  width: 100%;
  height: 90vh;
  display: grid;
  background: $theme-1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1.8fr;
  grid-template-areas:
    "p1 p2 p2 p2"
    "p1 p4 p4 p5"
    "p1 p3 p6 p6";
  gap: 10px;
  .port-panel {
    background: #000;
    border-radius: 10px;
    // transform: perspective(1000px);
    perspective: 1000px;
  }
  .port-p1 {
    grid-area: p1;
    background: $dbg;
    position: relative;
    .inner {
      @include center;
      width: 95%;
      height: 95%;
      background: $clr-2;
      display: grid;
      grid-template-rows: 40vh 40vh;
      grid-template-areas: "sec1" "sec2";
      gap: 10px;
      .p1-sec1 {
        grid-area: sec1;
        display: grid;
        grid-template-rows: 1fr 0fr;
        grid-template-columns: 0.15fr 0.7fr 0.15fr;
        gap: 5px;

        .content1 {
          @include grid(2, 3, 1, 2);
          border-radius: 50%;
          overflow: hidden;
          background: $theme-2;
          position: relative;

          .inner {
            @include center;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            background: $clr-2;
            border-top: 2.5px solid $clr-1;
            border-left: 2.5px solid $clr-1;
            overflow: hidden;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 90%;
              height: 90%;
              object-fit: cover;
              border-radius: 50%;
              border-bottom: 2.5px solid $clr-1;
              border-right: 2.5px solid $clr-1;
            }
          }
        }
        .content2 {
          @include grid(2, 3, 2, 3);
          background: $theme-1;
          border-radius: 0.5rem;
          color: #fff;
          padding: 0.1rem;
          text-align: center;
          @include grid-center;
          grid-template-columns: 0.7fr 0.3fr;
          .panel1 {
            grid-column: 1;
            h5 {
              mix-blend-mode: difference;
              span {
                color: $clr-1;
                // text-shadow: 0 0 2px $clr;
              }
            }
          }
          .panel2 {
            grid-column: 2;
            background: $ndbg;
            border-radius: 50%;
            @include grid-center;
            cursor: pointer;
            // border-bottom: 1.5px solid #00f3ff;
            // border-right: 1.5px solid #00f3ff;
            h1 a i {
              color: $clr;
            }
          }
        }
      }
      .p1-sec2 {
        grid-area: sec2;
        display: grid;
        grid-template-columns: 0.1fr 0.8fr 0.1fr;
        .content {
          grid-column: 2/3;
          background: linear-gradient(120deg, $clr-2 50%, $clr-1 50%);
          border-radius: 10px;
          // border-bottom: 1.5px solid #00f3ff;
          // border-right: 1.5px solid #00f3ff;
          display: grid;
          grid-template-rows: 25vh 15vh;
          .sec1 {
            grid-row: 1;
            color: #fff;
            mix-blend-mode: difference;
            @include grid-center;
            i {
              color: $clr-1;
              font-size: 1rem;
              box-shadow: 0px 5px 40px $clr;
            }
          }
          .sec2::-webkit-scrollbar {
            width: 1vw;
            &-track {
              background: $clr-2;
              // box-shadow: $dis;
              border-radius: 20px;
              border: 1px solid $clr-1;
            }
            &-thumb {
              background: $clr-1;
              // box-shadow: $dos;
              border-radius: 20px;
              border: 2px solid $clr-2;
            }
            &-thumb:hover {
              background: $clr;
            }
          }
          .sec2 {
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: grid;
            overflow-y: scroll;
            .abtn {
              button {
                padding: 5px;
                color: $clr-1;
                background: $clr-2;
                border-radius: 50%;
                outline: none;
                border: none;
                cursor: pointer;
              }
            }
            .icons {
              grid-row: 2;
            }
            // .icons:hover li:before {
            //   box-shadow: $dis;
            // }
            // .icons:hover li {
            //   box-shadow: $dos;
            // }

            .icons li {
              list-style: none;
              display: inline-flex;
              flex-direction: column;
              margin: 1rem 1rem;
              width: 2.5rem;
              height: 2.5rem;
              cursor: pointer;
              border-radius: 50%;
              background: $clr-2;
              // box-shadow: $dis;
              mix-blend-mode: difference;
              align-items: center;
              justify-content: center;
              border: 1px solid #fff;

              &:before {
                position: relative;
                content: "";
                width: 2.3rem;
                height: 0.82rem;
                background: $clr-1;
                // mix-blend-mode: difference;
                border-radius: 50%;
                box-shadow: 0px 5px 40px $clr;
              }

              a {
                color: #fff;
                font-size: 1.25rem;
              }

              &:hover a {
                transition: all 0.5s ease-in-out;
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
  .port-p2 {
    grid-area: p2;
    position: relative;
    perspective: 1000px;
    .inner {
      @include center;
      width: 95%;
      height: 80%;
      background: $clr-1;
      // box-shadow: $dis, $dos;
      // border-left: 1.5px solid #00f3ff;
      // border-right: 1.5px solid #00f3ff;
      border-radius: 10px;
      .content {
        text-transform: uppercase;
        background: $theme-2;
        padding: 10px;
        border-radius: 10px;
        @include center;
        h3 {
          color: $clr-1;
          mix-blend-mode: difference;
        }
      }
    }
  }
  .port-p3 {
    grid-area: p3;
    position: relative;
    .inner {
      @include center;
      width: 95%;
      height: 95%;
      background: $theme-2;
      // box-shadow: $dos, $dis;
      display: grid;
      grid-template-rows: 0.2fr 0.8fr;
      gap: 10px;
      border-radius: 10px;
      .content1 {
        grid-row: 1;
        @include grid-center;
        background: $clr-1;
        border-radius: 10px;
        // box-shadow: $dos, $dis;
        // border-top: 1.5px solid #00f3ff;
        // border-left: 1.5px solid #00f3ff;
        position: relative;
        .content {
          background: $theme-1;
          padding: 10px;
          border-radius: 10px;
          @include center;
          h3 {
            color: $clr-1;
            mix-blend-mode: difference;
          }
        }
        .modal {
          position: absolute;
          top: 50%;
          left: 90%;
          transform: translate(-50%, -50%);
          button {
            padding: 10px;
            background: $clr-2;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 50%;
          }
        }
      }
      .content2::-webkit-scrollbar {
        width: 1vw;
        &-track {
          background: $clr-2;
          // box-shadow: $dis;
          border-radius: 20px;
          border: 1px solid $clr-1;
        }
        &-thumb {
          background: $clr-1;
          // box-shadow: $dos;
          border-radius: 20px;
          border: 2px solid $clr-2;
        }
        &-thumb:hover {
          background: $clr;
        }
      }

      .content2 {
        grid-row: 2;
        color: $clr;
        display: grid;
        grid-template-columns: 0.2fr 0.8fr;
        overflow-y: scroll;
        .sec1 {
          grid-column: 1;
          color: $clr-1;
          font-size: 1.2rem;
          @include grid-center;
          margin-bottom: 10px;
          display: flex;
          justify-content: space-around;
          cursor: pointer;
        }
        .sec2 {
          grid-column: 2;
          @include grid-center;
          margin-bottom: 10px;
        }
      }
    }
  }
  .port-p4 {
    grid-area: p4;
    position: relative;
    .inner {
      @include center;
      width: 97%;
      height: 94%;
      background: $theme-2;
      // box-shadow: $dos, $dis;
      border-radius: 10px;
      display: grid;
      grid-template-rows: 0.2fr 0.8fr;
      gap: 10px;
      .content1 {
        grid-row: 1;
        background: $clr-1;
        border-radius: 10px;
        text-transform: capitalize;
        @include grid-center;
        position: relative;

        // box-shadow: $dos, $dis;
        // border-top: 1.5px solid #00f3ff;
        // border-left: 1.5px solid #00f3ff;
        .content {
          background: $theme-1;
          padding: 5px;
          border-radius: 10px;
          @include center;

          h3 {
            color: $clr-1;
            mix-blend-mode: difference;
          }
        }
      }
      .content2 {
        grid-row: 2;
        background: linear-gradient(230deg, $clr-2 50%, $clr-1 50%);
        border-radius: 10px;
        // box-shadow: $dis;
        // border-bottom: 1.5px solid #00f3ff;
        // border-right: 1.5px solid #00f3ff;
        textarea {
          width: 100%;
          height: 100%;
          outline: none;
          padding: 1vw;
          border-radius: 10px;
          border: transparent;
        }
        p {
          padding: 10px;
          color: $clr-1;
          mix-blend-mode: difference;
          font-size: 14px;
        }
      }
    }
  }
  .port-p5 {
    grid-area: p5;
    position: relative;
    .inner {
      @include center;
      width: 97%;
      height: 94%;
      background: $theme-2;
      // box-shadow: $dos, $dis;
      border-radius: 10px;
      display: grid;
      grid-template-rows: 0.2fr 0.8fr;
      gap: 10px;
      .content1 {
        grid-row: 1;
        background: $clr-1;
        border-radius: 10px;
        text-transform: capitalize;
        @include grid-center;
        // box-shadow: $dos, $dis;
        // border-top: 1.5px solid #00f3ff;
        // border-left: 1.5px solid #00f3ff;
        position: relative;
        .content {
          background: $theme-1;
          padding: 5px;
          border-radius: 10px;
          @include center;

          h3 {
            color: $clr-1;
            mix-blend-mode: difference;
          }
        }
      }
      .content2 {
        grid-row: 2;
        background: linear-gradient(230deg, $clr-2 50%, $clr-1 50%);
        border-radius: 10px;
        // box-shadow: $dis;
        // border-bottom: 1.5px solid #00f3ff;
        // border-right: 1.5px solid #00f3ff;
        textarea {
          width: 100%;
          height: 100%;
          outline: none;
          padding: 1vw;
          border-radius: 10px;
          border: transparent;
        }

        p {
          padding: 10px;
          color: $clr-1;
          mix-blend-mode: difference;
          font-size: 14px;
        }
      }
    }
  }
  .port-p6 {
    grid-area: p6;
    position: relative;
    .inner {
      @include center;
      width: 98%;
      height: 95%;
      background: $theme-1;
      // box-shadow: $dis, $dos;
      border-radius: 10px;
      display: grid;
      grid-template-rows: 0.2fr 0.8fr;
      gap: 10px;
      .content1 {
        grid-row: 1;
        @include grid-center;
        background: $clr-1;
        border-radius: 10px;
        text-transform: capitalize;
        // border-top: 1.5px solid #00f3ff;
        // border-left: 1.5px solid #00f3ff;
        // box-shadow: $dos, $dis;
        position: relative;
        .modal {
          position: absolute;
          top: 50%;
          left: 90%;
          transform: translate(-50%, -50%);
          button {
            padding: 10px;
            background: $clr-2;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 50%;
          }
        }
        .content {
          background: $theme-2;
          padding: 10px;
          border-radius: 10px;
          @include center;
          h3 {
            color: $clr-1;
            mix-blend-mode: difference;
          }
        }
      }
      .content2::-webkit-scrollbar {
        width: 1vw;
        &-track {
          background: $clr-1;
          // box-shadow: $dis;
          border-radius: 20px;
          border: 1px solid #fff;
        }
        &-thumb {
          background: $clr-2;
          // box-shadow: $dos;
          border-radius: 20px;
          border: 1px solid #fff;
        }
        &-thumb:hover {
          background: $clr;
        }
      }
      .content2 {
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: scroll;
        justify-content: space-around;
        row-gap: 15px;

        .section {
          // display: inline-flex;
          width: 22vw;
          height: 36vh;
          background: $theme-2;
          border-radius: 10px;
          // box-shadow: $dis;
          position: relative;
          // border-top: 1.5px solid #00f3ff;
          // border-left: 1.5px solid #00f3ff;
          .project {
            @include center;
            width: 90%;
            height: 90%;
            background: $theme-1;
            border-radius: 10px;
            // box-shadow: $dos;
            overflow: hidden;
            // border-bottom: 1.5px solid #00f3ff;
            // border-right: 1.5px solid #00f3ff;
            a img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 97%;
              height: 95%;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
/* background: */
progress::-webkit-progress-bar {
  background-color: $clr-1;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
  // box-shadow: $dis, $dos;
}
progress {
  background-color: $clr-1;
  border-radius: 50px;
  height: 10px;
}

/* value: */
progress::-webkit-progress-value {
  background-color: $clr-1 !important;
  border-radius: 50px;
  mix-blend-mode: difference;
  // box-shadow: -5px -5px 10px #01494d, 5px 5px 15px #025f64;
}
// progress::-moz-progress-bar {background-color: $clr !important;border-radius: 50px;}
// progress {color: $clr;border-radius: 50px;}
@media (max-width: 580px) {
  #port-con {
    margin-top: -10vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 100vh 50vh 50vh 50vh 100vh;
    grid-template-areas:
      "p2"
      "p1"
      "p3"
      "p4"
      "p5"
      "p6";
    height: 360vh;
  }
  .port-p6 .inner .content2 .section {
    width: 90% $i;
  }
}

